In [1]:
import dask.dataframe as dd

In [7]:
df_attendees = dd.read_csv("/home/nkama/masters_thesis_project/thesis/data/event_rec_engine_challenge/event_attendees.csv",
                       dtype={
                           'event': 'object'
                       })

# Read the data using Dask
df_user = dd.read_csv('/home/nkama/masters_thesis_project/thesis/data/event_rec_engine_challenge/users.csv',
                      dtype={
                          'user_id': 'object', 
                          'location': 'object',
                          'birthyear': 'object',
                          'timezone': 'float64',
                          'locale': 'object',
                          'gender': 'object'
                      })

df_event = dd.read_csv('/home/nkama/masters_thesis_project/thesis/data/event_rec_engine_challenge/events.csv',
                 dtype={
                     'event_id': 'object',
                     'city': 'object',
                     'country': 'object',
                     'state': 'object',
                     'zip': 'object'
                 })
new_df = df_event.dropna()

# **Get User-Event Records**

## create interactions data

In [8]:
df_attendees.head()

,event,yes,maybe,invited,no
0,1159822043,1975964455 252302513 4226086795 3805886383 142...,2733420590 517546982 1350834692 532087573 5831...,1723091036 3795873583 4109144917 3560622906 31...,3575574655 1077296663
1,686467261,2394228942 2686116898 1056558062 3792942231 41...,1498184352 645689144 3770076778 331335845 4239...,1788073374 733302094 1830571649 676508092 7081...,<NA>
2,1186208412,<NA>,3320380166 3810793697,1379121209 440668682,1728988561 2950720854
3,2621578336,<NA>,<NA>,<NA>,<NA>
4,855842686,2406118796 3550897984 294255260 1125817077 109...,2671721559 1761448345 2356975806 2666669465 10...,1518670705 880919237 2326414227 2673818347 332...,3500235232

In [9]:
df_attendees.isnull().sum().compute()

event         0
yes        1984
maybe      3167
invited    1822
no         6659
dtype: int64

In [ ]:
# Read your DataFrame
df_attendees = pd.read_csv('/home/nkama/masters_thesis_project/event_rec_engine_challenge/events.csv')

# Drop rows with all complete missing values
df_attendee_new = df_attendees.dropna(how="all")

# Print statistics about the cleaning
print("Original number of rows:", len(df_attendees))
print("Number of rows after dropping all-NaN rows:", len(df_attendee_new))
print("Number of rows removed:", len(df_attendees) - len(df_attendee_new))

# Fill remaining NaN values with 0
df_filled = df_attendee_new.fillna(0)

16789

,event,yes,maybe,invited,no
0,1159822043,1975964455 252302513 4226086795 3805886383 142...,2733420590 517546982 1350834692 532087573 5831...,1723091036 3795873583 4109144917 3560622906 31...,3575574655 1077296663
4,855842686,2406118796 3550897984 294255260 1125817077 109...,2671721559 1761448345 2356975806 2666669465 10...,1518670705 880919237 2326414227 2673818347 332...,3500235232
6,488116622,4145960786 2550625355 2577667841 1575121941 28...,1227223575 2789471603 1323321680 3086272918 38...,1413359297 2300232602 1412759254 617751520 286...,1498160155 3708150269 823488244 3595018395 173...
7,1273761447,2680366192 2151335654 3447231284 3021641283 17...,94519567 2208454642 1749189642 2558652483 2983...,3828226993 3279641599 493535713 2091128996 298...,3215817616 101410505 3172228763 4161238910 181...
8,2688888297,298428624 2292079981 1819927116 1843127538 410...,3433056329 3166442492 1754661408 2966742619 32...,143382439 552645572 2872499486 1476024415 3890...,3433837562 492244978 784111553 3319042922

## Count total reactions on each event

In [33]:
import dask.dataframe as dd
import pandas as pd
import numpy as np

# Function to count users in a space-separated string
def count_users(x):
    if pd.isna(x):
        return 0
    users = x.split()
    return len(users)

# Create new columns for user counts directly in the original dataframe
for column in ['yes', 'maybe', 'invited', 'no']:
    df_attendee_new[f'{column}_count'] = df_attendee_new[column].apply(count_users, meta=('x', 'int'))

# Calculate total attendees (sum of all categories)
df_attendee_new['total_users'] = df_attendee_new['yes_count'] + \
                              df_attendee_new['maybe_count'] + \
                              df_attendee_new['invited_count'] + \
                              df_attendee_new['no_count']

# Select only the event and count columns
attendance_counts = df_attendee_new[['event', 'yes_count', 'maybe_count', 'invited_count', 'no_count', 'total_users']]

In [34]:
attendance_counts.head()

        event  yes_count  maybe_count  invited_count  no_count  total_users
0  1159822043          7            7             70         2           86
4   855842686          6            6             10         1           23
6   488116622         45           38            166        19          268
7  1273761447         28           36            194        12          270
8  2688888297         31           34            257         4          326

In [35]:

len(attendance_counts.event) #print number of unique events
#Save to csv
#attendance_counts.compute().to_csv("attendance_counts.csv")

16789

In [3]:
df = dd.read_csv('/home/nkama/masters_thesis_project/event_rec_engine_challenge/events.csv',
                 dtype={
                     'city': 'object',
                     'country': 'object',
                     'state': 'object',
                     'zip': 'object'
                 })

df.head()

,event_id,user_id,start_time,city,state,zip,country,lat,lng,c_1,...,c_92,c_93,c_94,c_95,c_96,c_97,c_98,c_99,c_100,c_other
0,684921758,3647864012,2012-10-31T00:00:00.001Z,<NA>,<NA>,<NA>,<NA>,NaN,NaN,2,...,0,1,0,0,0,0,0,0,0,9
1,244999119,3476440521,2012-11-03T00:00:00.001Z,<NA>,<NA>,<NA>,<NA>,NaN,NaN,2,...,0,0,0,0,0,0,0,0,0,7
2,3928440935,517514445,2012-11-05T00:00:00.001Z,<NA>,<NA>,<NA>,<NA>,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,12
3,2582345152,781585781,2012-10-30T00:00:00.001Z,<NA>,<NA>,<NA>,<NA>,NaN,NaN,1,...,0,0,0,0,0,0,0,0,0,8
4,1051165850,1016098580,2012-09-27T00:00:00.001Z,<NA>,<NA>,<NA>,<NA>,NaN,NaN,1,...,0,0,0,0,0,0,0,0,0,9

In [ ]:
count_df = event_df.iloc[:, -101:]
count_df["event_id"] = df["event_id"]
count_df.head()

,c_1,c_2,c_3,c_4,c_5,c_6,c_7,c_8,c_9,c_10,...,c_93,c_94,c_95,c_96,c_97,c_98,c_99,c_100,c_other,event_id
0,2,0,2,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,9,684921758
1,2,0,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,7,244999119
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,12,3928440935
3,1,0,2,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,8,2582345152
4,1,1,0,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,9,1051165850

In [12]:
len(count_df)

3137972

In [5]:
event_data = dd.read_csv('/home/nkama/masters_thesis_project/thesis/events_data.csv')
event_data.head()

,Unnamed: 0,event_id,start_time,city,lat,lng,yes_count,maybe_count,invited_count,no_count,total_users
0,19,2587616435,2012-11-13T11:00:00.002Z,Sihanoukville,10.633,103.500,93,65,317,47,522
1,21,1145166049,2013-07-08T02:00:00.000Z,Palo Alto,37.442,-122.172,162,112,1021,150,1445
2,36,920600431,2012-07-29T19:00:00.000Z,Karachi,24.893,67.028,22,8,993,26,1049
3,80,3580637647,2012-10-22T10:00:00.003Z,Los Angeles,3.156,101.612,63,42,430,20,555
4,90,1924180022,2012-11-11T20:00:00.003Z,Palo Alto,37.416,-122.152,41,12,53,1,107

In [6]:
len(event_data)

9343

In [13]:
# Filter events_df to include only event_ids present in event_data
new_event_df = count_df[count_df['event_id'].isin(event_data['event_id'])]

In [14]:
new_event_df.head()

,c_1,c_2,c_3,c_4,c_5,c_6,c_7,c_8,c_9,c_10,...,c_93,c_94,c_95,c_96,c_97,c_98,c_99,c_100,c_other,event_id
40,0,3,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,28,2587616435
51,5,3,3,1,3,13,0,2,0,2,...,0,0,0,1,0,0,0,0,103,1145166049
74,5,3,3,1,3,14,0,2,0,2,...,0,0,0,1,0,0,0,0,103,920600431
156,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,6,3580637647
178,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1924180022

In [15]:
len(new_event_df)

9343

In [17]:
large_col_event_data = event_data.merge(new_event_df ,on="event_id")
large_col_event_data.head()

,Unnamed: 0,event_id,start_time,city,lat,lng,yes_count,maybe_count,invited_count,no_count,...,c_92,c_93,c_94,c_95,c_96,c_97,c_98,c_99,c_100,c_other
0,19,2587616435,2012-11-13T11:00:00.002Z,Sihanoukville,10.633,103.500,93,65,317,47,...,0,0,0,0,0,0,0,0,0,28
1,21,1145166049,2013-07-08T02:00:00.000Z,Palo Alto,37.442,-122.172,162,112,1021,150,...,0,0,0,0,1,0,0,0,0,103
2,36,920600431,2012-07-29T19:00:00.000Z,Karachi,24.893,67.028,22,8,993,26,...,0,0,0,0,1,0,0,0,0,103
3,80,3580637647,2012-10-22T10:00:00.003Z,Los Angeles,3.156,101.612,63,42,430,20,...,0,0,0,0,0,0,0,0,0,6
4,90,1924180022,2012-11-11T20:00:00.003Z,Palo Alto,37.416,-122.152,41,12,53,1,...,0,0,0,0,0,0,0,0,0,0

In [18]:
len(large_col_event_data)

9343

In [23]:
# Convert Dask DataFrame to pandas DataFrame and save
large_col_event_data.compute().to_csv("large_col_events.csv", index=False)

In [24]:
import pandas as pd
f = pd.read_csv("/home/nkama/masters_thesis_project/thesis/large_col_events.csv")
len(f)

9343

In [ ]:
new_events_df = df[["event_id",	"user_id",	"start_time", "city",	"state",	"zip",	"country",	"lat",	"lng"]]

:

In [7]:
new_df = df.dropna()

In [8]:
new_df.head()

,event_id,user_id,start_time,city,state,zip,country,lat,lng,c_1,...,c_92,c_93,c_94,c_95,c_96,c_97,c_98,c_99,c_100,c_other
178,1924180022,1571299514,2012-11-11T20:00:00.003Z,Palo Alto,CA,94304,United States,37.416,-122.152,0,...,0,0,0,0,0,0,0,0,0,0
271,2654661184,1785633648,2012-11-26T00:00:00.001Z,Palo Alto,CA,94304,United States,37.416,-122.152,0,...,0,0,0,0,0,0,0,0,0,7
488,766157199,415464198,2012-12-06T21:00:00.002Z,New York,NY,0212,United States,40.722,-74.000,0,...,0,0,0,0,0,0,0,0,0,11
569,197942693,4272720232,2012-11-24T00:00:00.001Z,Menlo Park,CA,94025,United States,37.484,-122.149,1,...,0,0,0,0,0,0,0,0,0,19
692,3578194644,571508037,2012-12-22T04:00:00.003Z,Mobile,AL,36602,United States,30.691,-88.044,7,...,0,0,0,0,0,0,0,0,0,45

In [8]:
new_df.isnull().sum().compute()

event_id      0
user_id       0
start_time    0
city          0
state         0
             ..
c_97          0
c_98          0
c_99          0
c_100         0
c_other       0
Length: 110, dtype: int64

In [9]:
len(new_df["event_id"].unique().compute())

356585

In [10]:
len(new_df)

356585

In [11]:
len(df)

3137972

In [8]:
print(len(new_df))
len(df)

356585

3137972

In [2]:

# Load events data
events_df = load_events_data('/home/nkama/masters_thesis_project/event_rec_engine_challenge/events.csv')

# Process in a distributed manner
print("Synthesizing event details...")
enriched_events = synthesize_event_details(events_df)

Synthesizing event details...

In [3]:

# Add variety
print("Adding variety to descriptions...")
enriched_events = add_variety(enriched_events)

Adding variety to descriptions...

In [4]:
enriched_events.head()

ValueError: Mismatched dtypes found in `pd.read_csv`/`pd.read_table`.

+---------+--------+----------+
| Column  | Found  | Expected |
+---------+--------+----------+
| city    | object | float64  |
| country | object | float64  |
| state   | object | float64  |
| zip     | object | float64  |
+---------+--------+----------+

The following columns also raised exceptions on conversion:

- city
  ValueError("could not convert string to float: 'Sihanoukville'")
- country
  ValueError("could not convert string to float: 'Cambodia'")
- state
  ValueError("could not convert string to float: 'Kampot'")
- zip
  ValueError("could not convert string to float: '91335-7310'")

Usually this is due to dask's dtype inference failing, and
*may* be fixed by specifying dtypes manually by adding:

dtype={'city': 'object',
       'country': 'object',
       'state': 'object',
       'zip': 'object'}

to the call to `read_csv`/`read_table`.

In [ ]:

# # Save the processed data (using Dask's to_csv)
# print("Saving processed data...")
# enriched_events.to_csv('enriched_events_*.csv', index=False)  # Will create part files

In [ ]:
# Add variety
print("Adding variety to descriptions...")
enriched_events = add_variety(enriched_events)

# # Save the processed data (using Dask's to_csv)
# print("Saving processed data...")
# enriched_events.to_csv('enriched_events_*.csv', index=False)  # Will create part files

In [1]:
enriched_events.head()

NameError: name 'enriched_events' is not defined

In [2]:


    
    
    
    # # If you need to analyze weather sensitivity (assuming you have weather data)
    # try:
    #     # Try to load weather data if available
    #     weather_df = dd.read_csv('weather_data.csv')
        
    #     print("Analyzing weather sensitivity by category...")
    #     sensitivity_results = analyze_weather_sensitivity(enriched_events, weather_df)
        
    #     # Print or save the results
    #     print("Weather sensitivity results:")
    #     print(sensitivity_results)
    #     sensitivity_results.to_csv('weather_sensitivity_by_category.csv')
    # except:
    #     print("Weather data not available or could not be processed.")
    
    # print("Processing complete!")

Synthesizing event details...
Adding variety to descriptions...

In [17]:
user_df = dd.read_csv('/home/nkama/masters_thesis_project/event_rec_engine_challenge/users.csv',
                      dtype = {                     'city': 'object',
                     'country': 'object',
                     'state': 'object',
                     'zip': 'object',
                     'birthyear': 'object',
                     'timezone': 'float64'
                 })


user_df.head()

,user_id,locale,birthyear,gender,joinedAt,location,timezone
0,3197468391,id_ID,1993,male,2012-10-02T06:40:55.524Z,Medan Indonesia,480.0
1,3537982273,id_ID,1992,male,2012-09-29T18:03:12.111Z,Medan Indonesia,420.0
2,823183725,en_US,1975,male,2012-10-06T03:14:07.149Z,Stratford Ontario,-240.0
3,1872223848,en_US,1991,female,2012-11-04T08:59:43.783Z,Tehran Iran,210.0
4,3429017717,id_ID,1995,female,2012-09-10T16:06:53.132Z,<NA>,420.0

In [134]:
import pandas as pd
user_df = pd.read_csv('/home/nkama/masters_thesis_project/event_rec_engine_challenge/users.csv')

In [135]:
len(user_df)#.info()

38209

In [139]:
c_user = user_df.copy()
c_user.dropna(inplace = True)
len(c_user)

32219

In [137]:
user_df.isnull().sum()

user_id         0
locale          0
birthyear    1492
gender        109
joinedAt       58
location     5465
timezone      436
dtype: int64

In [23]:
df_user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38209 entries, 0 to 38208
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   user_id    38209 non-null  int64
 1   locale     38209 non-null  object
 2   birthyear  36717 non-null  object
 3   gender     38100 non-null  object
 4   joinedAt   38151 non-null  object
 5   location   32744 non-null  object
 6   timezone   37773 non-null  float64
dtypes: float64(1), int64(1), object(5)
memory usage: 2.0+ MB

['1335002898',
 '30795658',
 '2947087069',
 '2323335002'

In [41]:
df_user.columns

Index(['user_id', 'locale', 'birthyear', 'gender', 'joinedAt', 'location',
       'timezone'],
      dtype='object')

In [3]:
# import dask.dataframe as dd

# # Read the data using Dask
# df_event = dd.read_csv("/home/nkama/masters_thesis_project/event_rec_engine_challenge/events.csv",
#                       dtype={
#                           'location': 'object',
#                           'birthyear': 'object',
#                           'timezone': 'float64'
#                       })
# df_train = dd.read_csv("/home/nkama/masters_thesis_project/event_rec_engine_challenge/train.csv",
#                        dtype={
#                            'event_id': 'object',  # adjust dtype as needed
#                        })

# # Check column names
# print("Columns in df_user:")
# print(df_event.columns.compute())
# print("\nColumns in df_train:")
# print(df_train.columns.compute())

# # # Filter Japanese users
# # japan_users = df_event[df_user["location"].str.contains("Japan", case=False, na=False)].compute()
# # print("\nUsers from Japan:")
# # print(japan_users)

# # Get common event_ids
# # Convert to pandas for set operations since they're more efficient with smaller data
# train_events = set(df_train['event_id'].compute())
# user_events = set(df_event['event_id'].compute())
# common_events = train_events.intersection(user_events)

# print(f"\nNumber of common event_ids: {len(common_events)}")
# print("\nFirst few common event_ids:")
# print(list(common_events)[:5])

# # Get matching rows
# matching_rows = df_user[df_event['event_id'].isin(list(common_events))].compute()
# print("\nMatching rows from df_user:")
# print(matching_rows)

In [2]:

# # Read the data using Dask
# df_user = dd.read_csv('/home/nkama/masters_thesis_project/event_rec_engine_challenge/users.csv',
#                       dtype = {                     'city': 'object',
#                      'country': 'object',
#                      'state': 'object',
#                      'zip': 'object',
#                      'birthyear': 'object',
#                      'timezone': 'float64'
#                  })
# df_event = dd.read_csv('/home/nkama/masters_thesis_project/event_rec_engine_challenge/events.csv',
#                  dtype={
#                      'city': 'object',
#                      'country': 'object',
#                      'state': 'object',
#                      'zip': 'object'
#                  })

In [2]:
df_train = dd.read_csv("/home/nkama/masters_thesis_project/event_rec_engine_challenge/train.csv",
                       dtype={
                           'event_id': 'object',  # adjust dtype as needed
                       })
df_train.columns = ["user_id", "event_id", "invited", "timestamp", "interested", "not_interested"]

In [ ]:


# # Get event_ids and user_ids from train
# train_events = set(df_train['event_id'].compute())
# train_users = set(df_train['user_id'].compute())

# # Create filtered dataframes
# events = df_event[df_event['event_id'].isin(list(train_events))].compute()
# users = df_user[df_user['user_id'].isin(list(train_users))].compute()

# # Print summary statistics
# print(f"Number of events in training set: {len(train_events)}")
# print(f"Number of users in training set: {len(train_users)}")
# print(f"\nShape of filtered events DataFrame: {events.shape}")
# print(f"Shape of filtered users DataFrame: {users.shape}")

# # Show first few rows of each
# print("\nFirst few rows of events DataFrame:")
# print(events.head())
# print("\nFirst few rows of users DataFrame:")
# print(users.head())

In [29]:
len(events)

8846

## Check for common events from both train and test in even_df

In [14]:
df_train.isnull().sum().compute()

user              0
event             0
invited           0
timestamp         0
interested        0
not_interested    0
dtype: int64

In [15]:
len(df_train)

15398

In [ ]:
#df_attendees = pd.read_csv("/home/nkama/masters_thesis_project/event_rec_engine_challenge/event_attendees.csv")

,event,yes,maybe,invited,no
0,1159822043,1975964455 252302513 4226086795 3805886383 142...,2733420590 517546982 1350834692 532087573 5831...,1723091036 3795873583 4109144917 3560622906 31...,3575574655 1077296663
1,686467261,2394228942 2686116898 1056558062 3792942231 41...,1498184352 645689144 3770076778 331335845 4239...,1788073374 733302094 1830571649 676508092 7081...,<NA>
2,1186208412,<NA>,3320380166 3810793697,1379121209 440668682,1728988561 2950720854
3,2621578336,<NA>,<NA>,<NA>,<NA>
4,855842686,2406118796 3550897984 294255260 1125817077 109...,2671721559 1761448345 2356975806 2666669465 10...,1518670705 880919237 2326414227 2673818347 332...,3500235232

event         0
yes        1984
maybe      3167
invited    1822
no         6659
dtype: int64

# Interaction data Prep

In [10]:
import dask.dataframe as dd
import pandas as pd

# Function to split space-separated strings into lists and create user-event pairs
def extract_user_event_pairs(df_attendees):
    # Process each row to extract user-event pairs
    pairs_list = []
    
    # Compute to bring into memory
    #attendees_computed = df_attendees.compute()
    
    for idx, row in df_attendees.iterrows():
        event_id = row['event']
        
        for status in ['yes', 'maybe', 'invited', 'no']:
            if pd.notna(row[status]):
                users = row[status].split()
                for user_id in users:
                    pairs_list.append({
                        'event_id': event_id,
                        'user_id': user_id,
                        'attendance_status': status
                    })
    
    # Convert to pandas DataFrame
    user_event_pairs = pd.DataFrame(pairs_list)
    
    # Convert back to Dask for consistency
    return dd.from_pandas(user_event_pairs, npartitions=df_attendees.npartitions)

# Rename the column in attendees_df for consistency
#df_attendees = df_attendees.rename(columns={'event': 'event_id'})

# Extract user-event pairs
user_event_pairs = extract_user_event_pairs(df_attendee_new)

# Convert types to ensure consistency for joins
user_event_pairs['user_id'] = user_event_pairs['user_id'].astype(str)
user_event_pairs['event_id'] = user_event_pairs['event_id'].astype(str)

In [19]:
user_event_pair = pd.read_csv("/home/nkama/masters_thesis_project/thesis/user_event_pairs.csv")

user_event_pair.head()

   Unnamed: 0    event_id     user_id attendance_status
0           0  1159822043  1975964455               yes
1           1  1159822043   252302513               yes
2           2  1159822043  4226086795               yes
3           3  1159822043  3805886383               yes
4           4  1159822043  1420484491               yes

In [25]:
len(user_event_pair.event_id.unique())

16789

In [22]:
len(user_event_pair.user_id.unique())

3448296

In [11]:
user_event_pairs.tail()

            event_id     user_id attendance_status
10206989  1294481466   846734428           invited
10206990  1294481466  2789574470           invited
10206991  1294481466  1080007316           invited
10206992  1294481466  1059016222           invited
10206993  1294481466  3521355909                no

In [12]:
user_event_pairs.compute().to_csv("user_event_pairs.csv")

In [16]:
user_event_pairs.attendance_status.value_counts().compute()

attendance_status
invited    8602420
maybe       459435
no          471604
yes         673535
Name: count, dtype: int64[pyarrow]

In [26]:
import dask.dataframe as dd
import pandas as pd
import numpy as np

# Function to split space-separated strings into lists
def split_users(x):
    if pd.isna(x):
        return []
    return x.split()

# Get unique users from df_attendees
def get_unique_users(events_df):
    all_users = []
    
    for column in ['yes', 'maybe', 'invited', 'no']:
        users = events_df[column].apply(split_users, meta=('x', 'object')).compute()
        all_users.extend([user for sublist in users if sublist for user in sublist])
    
    return set(all_users)

# Get unique events from df_attendees
def get_unique_events(events_df):
    return set(events_df['event'].compute().tolist())

# Extract unique users and events
unique_users = get_unique_users(df_attendee_new)
unique_events = get_unique_events(df_attendee_new)

In [27]:

# # Convert to lists for filtering
user_ids_list = list(unique_users)
event_ids_list = list(unique_events)

In [29]:
len(event_ids_list), len(user_ids_list)

(16789, 3448296)

In [9]:

# Filter the user dataframe to include only users from df_attendees
# Note: we need to convert Dask index comparison to explicit isin() for performance
filtered_df_user = df_user[df_user['user_id'].isin(user_ids_list)].compute()

In [12]:

# Filter the event dataframe to include only events from df_attendees
# Note: In df_event, the column is named "event_id" rather than "event"
filtered_df_event = df_event[df_event['event_id'].isin(event_ids_list)].compute()

In [11]:
# Print summary information
print(f"Original users: {len(df_user)}, Filtered users: {len(filtered_df_user)}")
print(f"Original events: {len(df_event)}, Filtered events: {len(filtered_df_event)}")

Original users: 38209, Filtered users: 10727
Original events: 3137972, Filtered events: 2465

In [13]:
# Print summary information
print(f"Original users: {len(df_user)}, Filtered users: {len(filtered_df_user)}")
print(f"Original events: {len(df_event)}, Filtered events: {len(filtered_df_event)}")

Original users: 38209, Filtered users: 10727
Original events: 3137972, Filtered events: 16642

In [14]:
filtered_df_user.to_csv("users_data.csv")

In [15]:
filtered_df_event.to_csv("events_data.csv")

In [ ]:
import dask.dataframe as dd
import pandas as pd
import numpy as np
from dask.distributed import Client

# Initialize Dask client with memory limits
#client = Client(memory_limit='4GB')


attendance_counts.columns = ['event_id',
                             'yes_count',
                             'maybe_count',
                             'invited_count',
                             'no_count',
                             'total_users']
# Ensure event_id types match
attendance_counts['event_id'] = attendance_counts['event_id'].astype('object')

# Merge the dataframes
new_event = filtered_df_event.merge(attendance_counts,
                          left_on='event_id',
                          right_on='event',
                          how='left')

# Compute a sample of the merged data to verify
print("Sample of merged DataFrame:")
print(new_event.head().compute())

# Print the shape of the merged dataframe
print("\nShape of merged DataFrame:")
print(new_event.shape.compute())

# Check for any null values in the merged columns
print("\nNull values in merged columns:")
print(new_event[['yes_count', 'maybe_count', 'invited_count', 'no_count', 'total_users']].isnull().sum().compute())

#client.close()

# Merge and Create event, user and interaction data

## create event data

In [5]:
import pandas as pd

In [7]:
# create event data
events_data = pd.read_csv("/home/nkama/masters_thesis_project/thesis/events_2.csv", usecols=range(10))
events_data.head()

,Unnamed: 0,event_id,user_id,start_time,city,state,zip,country,lat,lng
0,0,684921758,3647864012,2012-10-31T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN
1,1,244999119,3476440521,2012-11-03T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN
2,2,3928440935,517514445,2012-11-05T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN
3,5,1212611096,1426522332,2012-11-16T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN
4,6,3689283674,725266702,2012-11-02T20:00:00.003Z,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
events_data["start_time"].min()

'2012-05-24T15:00:00.002Z'

In [50]:
# create event data
events_data.drop(columns=["Unnamed: 0","user_id","state","zip",
                          "country"], inplace = True)
len(events_data)

16642

In [51]:
events_data.head()

     event_id                start_time city  lat  lng
0   684921758  2012-10-31T00:00:00.001Z  NaN  NaN  NaN
1   244999119  2012-11-03T00:00:00.001Z  NaN  NaN  NaN
2  3928440935  2012-11-05T00:00:00.001Z  NaN  NaN  NaN
3  1212611096  2012-11-16T00:00:00.001Z  NaN  NaN  NaN
4  3689283674  2012-11-02T20:00:00.003Z  NaN  NaN  NaN

In [6]:
attendance_count = pd.read_csv("/home/nkama/masters_thesis_project/thesis/attendance_counts.csv")
attendance_count = attendance_count.drop(columns=["Unnamed: 0"]).rename(columns={"event": "event_id"})
attendance_count.head()

     event_id  yes_count  maybe_count  invited_count  no_count  total_users
0  1159822043          7            7             70         2           86
1   855842686          6            6             10         1           23
2   488116622         45           38            166        19          268
3  1273761447         28           36            194        12          270
4  2688888297         31           34            257         4          326

In [45]:
len(attendance_count)

16789

In [52]:
events = events_data.merge(attendance_count)
events.head()

,event_id,start_time,city,lat,lng,yes_count,maybe_count,invited_count,no_count,total_users
0,684921758,2012-10-31T00:00:00.001Z,NaN,NaN,NaN,8,2,57,3,70
1,244999119,2012-11-03T00:00:00.001Z,NaN,NaN,NaN,6,1,18,1,26
2,3928440935,2012-11-05T00:00:00.001Z,NaN,NaN,NaN,42,17,495,2,556
3,1212611096,2012-11-16T00:00:00.001Z,NaN,NaN,NaN,6,2,1426,4,1438
4,3689283674,2012-11-02T20:00:00.003Z,NaN,NaN,NaN,26,16,269,17,328

In [54]:
events.dropna(inplace = True)
events.to_csv("events_data.csv")

In [78]:
events.head()

,event_id,start_time,city,lat,lng,yes_count,maybe_count,invited_count,no_count,total_users
19,2587616435,2012-11-13T11:00:00.002Z,Sihanoukville,10.633,103.500,93,65,317,47,522
21,1145166049,2013-07-08T02:00:00.000Z,Palo Alto,37.442,-122.172,162,112,1021,150,1445
36,920600431,2012-07-29T19:00:00.000Z,Karachi,24.893,67.028,22,8,993,26,1049
80,3580637647,2012-10-22T10:00:00.003Z,Los Angeles,3.156,101.612,63,42,430,20,555
90,1924180022,2012-11-11T20:00:00.003Z,Palo Alto,37.416,-122.152,41,12,53,1,107

In [56]:
len(events.event_id)

9343

In [ ]:
!pip install transformers

In [ ]:
!pip install nltk

In [123]:
from transformers import pipeline
import pandas as pd
from nltk.stem import PorterStemmer
from collections import defaultdict

class EnhancedEventMetadataGenerator:
    def __init__(self):
        self.ps = PorterStemmer()
        self.generator = pipeline('text-generation', model='gpt2')
        
    def reconstruct_from_bow(self, event_row, word_stem_dict):
        """Initial reconstruction from BoW counts"""
        # Get word frequencies from count columns
        word_frequencies = defaultdict(int)
        for i in range(1, 101):
            count = event_row[f'count_{i}']
            if count > 0:
                stem = word_stem_dict[f'count_{i}']  # Map column to stem
                word_frequencies[stem] = count
                
        return word_frequencies
    
    def enrich_reconstruction(self, word_frequencies, event_context):
        """Enrich basic reconstruction with context"""
        # Stage 1: Basic BoW reconstruction
        base_words = self.get_words_from_stems(word_frequencies)
        
        # Stage 2: Context enrichment
        enriched_metadata = self.apply_contextual_constraints(
            base_words, 
            event_context
        )
        
        # Stage 3: Validation and adjustment
        validated_metadata = self.validate_and_adjust(
            enriched_metadata, 
            word_frequencies
        )
        
        return validated_metadata
    
    def get_words_from_stems(self, word_frequencies):
        """Convert stems to probable words based on context"""
        words_dict = defaultdict(list)
        
        for stem, freq in word_frequencies.items():
            possible_words = self.get_possible_words(stem)
            # Select most appropriate words based on frequency
            selected_words = self.select_contextual_words(
                possible_words, 
                freq
            )
            words_dict[stem] = selected_words
            
        return words_dict
    
    def apply_contextual_constraints(self, base_words, context):
        """Apply contextual constraints to word selection"""
        # Get event context
        location = context.get('location', {})
        time = context.get('time', {})
        attendees = context.get('attendees', {})
        
        metadata = {
            'title_components': [],
            'description_components': [],
            'category_indicators': []
        }
        
        # Apply location-based constraints
        metadata = self.apply_location_constraints(metadata, location)
        
        # Apply temporal constraints
        metadata = self.apply_temporal_constraints(metadata, time)
        
        # Apply scale/type constraints from attendee data
        metadata = self.apply_attendee_constraints(metadata, attendees)
        
        return metadata
    
    def generate_final_metadata(self, enriched_data, original_bow):
        """Generate final metadata using LLM with constraints"""
        prompt = self.create_structured_prompt(enriched_data)
        
        generated = self.generator(prompt)
        
        # Validate against original BoW
        while not self.validate_bow_match(generated, original_bow):
            # Adjust prompt and regenerate
            prompt = self.adjust_prompt(prompt, original_bow)
            generated = self.generator(prompt)
            
        return generated

    def apply_location_constraints(self, metadata, location):
        """Apply location-specific constraints"""
        if location.get('city') and location.get('state'):
            # Check for local event patterns
            local_patterns = self.get_local_event_patterns(
                location['city'], 
                location['state']
            )
            metadata['title_components'].extend(local_patterns)
        return metadata
    
    def apply_temporal_constraints(self, metadata, time):
        """Apply time-based constraints"""
        if 'start_time' in time:
            # Extract temporal patterns
            time_patterns = self.get_temporal_patterns(time['start_time'])
            metadata['description_components'].extend(time_patterns)
        return metadata
    
    def apply_attendee_constraints(self, metadata, attendees):
        """Apply constraints based on attendee data"""
        if 'count' in attendees:
            # Determine event scale
            scale = self.determine_event_scale(attendees['count'])
            metadata['category_indicators'].append(scale)
        return metadata

    def validate_bow_match(self, generated, original_bow):
        """Validate generated content matches original BoW"""
        generated_stems = self.get_stems_from_text(generated)
        
        # Compare distributions
        return self.compare_distributions(
            generated_stems, 
            original_bow
        )

class EventConsistencyValidator:
    """Separate class for maintaining consistency across events"""
    def __init__(self):
        self.event_patterns = defaultdict(list)
        
    def add_event_pattern(self, event_id, pattern):
        """Store event pattern for consistency checking"""
        self.event_patterns[event_id] = pattern
        
    def check_consistency(self, new_event, similar_events):
        """Check if new event is consistent with similar ones"""
        consistency_score = self.calculate_consistency(
            new_event, 
            similar_events
        )
        return consistency_score > 0.8  # Threshold for consistency

/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
None of PyTorch, TensorFlow >= 2.0, or Flax have been found. Models won't be available and only tokenizers, configuration and file/data utilities can be used.
None of PyTorch, TensorFlow >= 2.0, or Flax have been found. Models won't be available and only tokenizers, configuration and file/data utilities can be used.

In [124]:
# Usage example
def generate_event_metadata(events_df, word_stem_dict):
    generator = EnhancedEventMetadataGenerator()
    validator = EventConsistencyValidator()
    
    enriched_events = []
    
    for _, event in events_df.iterrows():
        # Step 1: Basic BoW reconstruction
        word_freqs = generator.reconstruct_from_bow(
            event, 
            word_stem_dict
        )
        
        # Step 2: Get event context
        context = {
            'location': {
                'city': event['city'],
                'state': event['state']
            },
            'time': {
                'start_time': event['start_time']
            },
            'attendees': get_attendee_data(event['event_id'])
        }
        
        # Step 3: Enrich with context
        enriched = generator.enrich_reconstruction(
            word_freqs, 
            context
        )
        
        # Step 4: Generate final metadata
        metadata = generator.generate_final_metadata(
            enriched, 
            word_freqs
        )
        
        # Step 5: Validate consistency
        if validator.check_consistency(
            metadata, 
            enriched_events[-5:]  # Check last 5 similar events
        ):
            enriched_events.append(metadata)
        else:
            # Regenerate with stricter consistency constraints
            metadata = regenerate_with_constraints(
                generator, 
                enriched, 
                enriched_events[-5:]
            )
            enriched_events.append(metadata)
            
    return enriched_events

## Create Users data

In [53]:
users = pd.read_csv("/home/nkama/masters_thesis_project/thesis/users_2.csv")
users.head()

,Unnamed: 0,user_id,locale,birthyear,gender,joinedAt,location,timezone
0,0,3197468391,id_ID,1993.0,male,2012-10-02T06:40:55.524Z,Medan Indonesia,480.0
1,1,3537982273,id_ID,1992.0,male,2012-09-29T18:03:12.111Z,Medan Indonesia,420.0
2,4,3429017717,id_ID,1995.0,female,2012-09-10T16:06:53.132Z,NaN,420.0
3,7,3473687777,id_ID,1965.0,female,2012-10-03T12:19:29.975Z,Medan Indonesia,420.0
4,12,1355996271,id_ID,1993.0,female,2012-10-26T15:34:46.113Z,Djokja Yogyakarta Indonesia,420.0

In [57]:
users["start_time"] = events_data["start_time"]

In [58]:
users.head()

,Unnamed: 0,user_id,locale,birthyear,gender,joinedAt,location,timezone,start_time
0,0,3197468391,id_ID,1993.0,male,2012-10-02T06:40:55.524Z,Medan Indonesia,480.0,2012-10-31T00:00:00.001Z
1,1,3537982273,id_ID,1992.0,male,2012-09-29T18:03:12.111Z,Medan Indonesia,420.0,2012-11-03T00:00:00.001Z
2,4,3429017717,id_ID,1995.0,female,2012-09-10T16:06:53.132Z,NaN,420.0,2012-11-05T00:00:00.001Z
3,7,3473687777,id_ID,1965.0,female,2012-10-03T12:19:29.975Z,Medan Indonesia,420.0,2012-11-16T00:00:00.001Z
4,12,1355996271,id_ID,1993.0,female,2012-10-26T15:34:46.113Z,Djokja Yogyakarta Indonesia,420.0,2012-11-02T20:00:00.003Z

In [118]:
len(users)

9263

In [2]:
import dask.dataframe as dd
import pandas as pd

In [ ]:
from datetime import datetime

# Define function to calculate age
def calculate_age(row):
    """Calculate age based on birthyear and start_time"""
    if pd.isna(row['birthyear']) or pd.isna(row['start_time']):
        return None
    try:
        birth_year = float(row['birthyear'])
        # Extract year from start_time
        start_year = pd.to_datetime(row['start_time']).year
        # Calculate age
        age = start_year - birth_year
        # Validate age is reasonable
        if 0 <= age <= 100:
            return round(age)
        return None
    except (ValueError, TypeError):
        return None


# Apply the function to create the age column
users['age'] = users.apply(calculate_age, axis=1)

In [64]:
users.head()

,user_id,locale,gender,joinedAt,location,timezone,age
0,3197468391,id_ID,male,2012-10-02T06:40:55.524Z,Medan Indonesia,480.0,19.0
1,3537982273,id_ID,male,2012-09-29T18:03:12.111Z,Medan Indonesia,420.0,20.0
3,3473687777,id_ID,female,2012-10-03T12:19:29.975Z,Medan Indonesia,420.0,47.0
4,1355996271,id_ID,female,2012-10-26T15:34:46.113Z,Djokja Yogyakarta Indonesia,420.0,19.0
5,2411726276,en_US,female,2012-10-30T05:16:27.136Z,Triolet Mauritius,240.0,16.0

In [63]:
users.dropna(inplace = True)
users.drop(columns=(["birthyear","Unnamed: 0","start_time"]), inplace = True)

In [65]:
users.to_csv("users_data.csv")

In [119]:
len(users.location)

9263

In [ ]:
!pip install geopy

In [112]:
def add_user_coordinates_scalable(users_df, checkpoint_file='geocoding_progress.pkl'):
    """
    Add latitude and longitude to users based on their existing location data
    Optimized for large datasets with checkpointing and batch processing
    
    Parameters:
    -----------
    users_df : pandas.DataFrame
        DataFrame containing a 'location' column
    checkpoint_file : str
        File path to save checkpointing data
        
    Returns:
    --------
    pandas.DataFrame
        Original DataFrame with added 'lat' and 'lng' columns
    """
    
    import pandas as pd
    import numpy as np
    import os
    import time
    import re
    from geopy.geocoders import Nominatim
    from geopy.extra.rate_limiter import RateLimiter
    from datetime import datetime
    
    # Create a copy of the DataFrame to avoid SettingWithCopyWarning
    # This is critical - ensures we're working with a true copy, not a view
    users_df = users_df.copy()
    
    start_time = datetime.now()
    print(f"Starting geocoding process at {start_time.strftime('%H:%M:%S')} for {len(users_df)} locations")
    
    # Load previous progress if available
    if os.path.exists(checkpoint_file):
        try:
            cache_data = pd.read_pickle(checkpoint_file)
            location_cache = cache_data.get('location_cache', {})
            completed_indices = cache_data.get('completed_indices', [])
            print(f"Loaded cache with {len(location_cache)} locations and {len(completed_indices)} completed indices")
        except Exception as e:
            print(f"Error loading checkpoint file: {e}")
            location_cache = {}
            completed_indices = []
    else:
        location_cache = {}
        completed_indices = []
    
    # Known problematic locations with manual coordinates
    known_locations = {
        "Djokja Yogyakarta Indonesia": (-7.797, 110.370),  # Yogyakarta coordinates
        "Santo Domingo  Dominican Republic": (18.486, -69.932),  # Santo Domingo coordinates
        # Add more problematic locations as you discover them
    }
    
    # Initialize geocoder with rate limiting
    geolocator = Nominatim(user_agent="geopy_user_locations_batch")
    geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1.2)
    
    def clean_location(location):
        """Thoroughly clean and standardize location strings"""
        if pd.isna(location) or not location or location.isspace():
            return None
            
        # Convert to string if not already and strip whitespace
        location = str(location).strip()
        
        # Skip empty strings or just whitespace
        if not location or location.isspace():
            return None
            
        # Replace multiple spaces with a single space
        location = re.sub(r'\s+', ' ', location)
        
        # Add commas between city/state/country if missing
        parts = re.split(r'\s{2,}', location)
        if len(parts) > 1:
            location = ", ".join(parts)
            
        return location
    
    def get_coordinates(location, attempt_count=0):
        """Get coordinates with fallback mechanisms and retry logic"""
        # First check for None, empty or whitespace-only strings
        if pd.isna(location) or not location or str(location).isspace():
            return None, None
            
        # Clean the location string
        original_loc = str(location).strip()
        cleaned_loc = clean_location(location)
        if not cleaned_loc:
            return None, None
            
        # Check if this is a known problematic location with manual coordinates
        if original_loc in known_locations:
            return known_locations[original_loc]
            
        # Check cache for exact match
        if cleaned_loc in location_cache:
            return location_cache[cleaned_loc]
        
        # First attempt with cleaned location
        if attempt_count == 0:
            try:
                loc = geocode(cleaned_loc)
                if loc:
                    coords = (round(loc.latitude, 3), round(loc.longitude, 3))
                    location_cache[cleaned_loc] = coords
                    return coords
            except Exception as e:
                print(f"Error geocoding '{cleaned_loc}': {e}")
                time.sleep(1)
        
        # Second attempt: try alternative formats (city, country)
        if attempt_count <= 1:
            try:
                parts = cleaned_loc.split(',')
                if len(parts) > 1:
                    # Keep first and last parts (typically city and country)
                    simplified = f"{parts[0].strip()}, {parts[-1].strip()}"
                    loc = geocode(simplified)
                    if loc:
                        coords = (round(loc.latitude, 3), round(loc.longitude, 3))
                        location_cache[cleaned_loc] = coords
                        return coords
            except Exception as e:
                print(f"Second attempt error geocoding '{cleaned_loc}': {e}")
                time.sleep(1)
        
        # Both attempts failed
        return None, None
    
    # Prepare result DataFrame - properly initialize columns
    # This uses proper DataFrame assignment instead of direct assignment
    if 'lat' not in users_df.columns:
        users_df.loc[:, 'lat'] = np.nan
    if 'lng' not in users_df.columns:
        users_df.loc[:, 'lng'] = np.nan
    
    # Process in smaller batches to save progress regularly
    BATCH_SIZE = 100
    total_batches = (len(users_df) + BATCH_SIZE - 1) // BATCH_SIZE
    
    # Skip already processed indices
    pending_indices = [i for i in range(len(users_df)) if i not in completed_indices]
    
    for batch_idx, batch_start in enumerate(range(0, len(pending_indices), BATCH_SIZE)):
        batch_end = min(batch_start + BATCH_SIZE, len(pending_indices))
        batch_indices = pending_indices[batch_start:batch_end]
        
        print(f"\nProcessing batch {batch_idx+1}/{total_batches} ({len(batch_indices)} locations)")
        batch_start_time = time.time()
        success_count = 0
        
        for idx in batch_indices:
            location = users_df.iloc[idx]['location']
            
            try:
                lat, lng = get_coordinates(location)
                if lat is not None and lng is not None:
                    # Proper way to set values using loc to avoid SettingWithCopyWarning
                    users_df.loc[idx, 'lat'] = lat
                    users_df.loc[idx, 'lng'] = lng
                    success_count += 1
                completed_indices.append(idx)
            except Exception as e:
                print(f"Unexpected error processing row {idx} '{location}': {e}")
            
            # Save checkpoint every 20 locations
            if len(completed_indices) % 20 == 0:
                checkpoint_data = {
                    'location_cache': location_cache,
                    'completed_indices': completed_indices
                }
                pd.to_pickle(checkpoint_data, checkpoint_file)
        
        # Save batch checkpoint
        checkpoint_data = {
            'location_cache': location_cache,
            'completed_indices': completed_indices
        }
        pd.to_pickle(checkpoint_data, checkpoint_file)
        
        batch_time = time.time() - batch_start_time
        print(f"Batch {batch_idx+1} completed: {success_count}/{len(batch_indices)} successful ({batch_time:.1f}s)")
        print(f"Overall progress: {len(completed_indices)}/{len(users_df)} rows processed ({len(completed_indices)/len(users_df)*100:.1f}%)")
        
        # Estimate remaining time
        if batch_idx > 0 and success_count > 0:
            rows_left = len(users_df) - len(completed_indices)
            time_per_row = batch_time / len(batch_indices)
            est_time_left = rows_left * time_per_row
            est_hours = int(est_time_left // 3600)
            est_minutes = int((est_time_left % 3600) // 60)
            print(f"Estimated time remaining: {est_hours}h {est_minutes}m")
    
    # Final report
    success_count = users_df['lat'].notna().sum()
    total_time = (datetime.now() - start_time).total_seconds()
    hours = int(total_time // 3600)
    minutes = int((total_time % 3600) // 60)
    seconds = int(total_time % 60)
    
    print(f"\nGeocoding completed in {hours}h {minutes}m {seconds}s")
    print(f"Successfully geocoded {success_count} of {len(users_df)} locations ({success_count/len(users_df)*100:.1f}%)")
    
    # Create a report of failed locations
    failed_df = users_df[users_df['lat'].isna()].copy()
    if not failed_df.empty:
        print(f"\nFailed to geocode {len(failed_df)} locations")
        failed_df.to_csv('failed_geocodes.csv', index=False)
        print("Failed locations saved to 'failed_geocodes.csv'")
        
        # Show sample of failed locations
        sample_size = min(10, len(failed_df))
        print(f"\nSample of failed locations:")
        for loc in failed_df['location'].head(sample_size).tolist():
            print(f"  - '{loc}'")
    
    return users_df
# Example usage:
users_df = add_user_coordinates_scalable(users[["location"]])

Starting geocoding process at 22:04:58 for 9263 locations
Loaded cache with 24 locations and 40 completed indices

Processing batch 1/93 (100 locations)
Batch 1 completed: 99/100 successful (45.8s)
Overall progress: 140/9271 rows processed (1.5%)

Processing batch 2/93 (100 locations)
Batch 2 completed: 93/100 successful (48.3s)
Overall progress: 240/9279 rows processed (2.6%)
Estimated time remaining: 1h 12m

Processing batch 3/93 (100 locations)
Batch 3 completed: 95/100 successful (30.0s)
Overall progress: 340/9288 rows processed (3.7%)
Estimated time remaining: 0h 44m

Processing batch 4/93 (100 locations)
Batch 4 completed: 92/100 successful (31.2s)
Overall progress: 440/9298 rows processed (4.7%)
Estimated time remaining: 0h 46m

Processing batch 5/93 (100 locations)
Batch 5 completed: 95/100 successful (30.2s)
Overall progress: 540/9309 rows processed (5.8%)
Estimated time remaining: 0h 44m

Processing batch 6/93 (100 locations)
Batch 6 completed: 98/100 successful (26.7s)
Overall progress: 640/9316 rows processed (6.9%)
Estimated time remaining: 0h 38m

Processing batch 7/93 (100 locations)
Batch 7 completed: 100/100 successful (20.3s)
Overall progress: 740/9333 rows processed (7.9%)
Estimated time remaining: 0h 29m

Processing batch 8/93 (100 locations)
Batch 8 completed: 97/100 successful (26.7s)
Overall progress: 840/9347 rows processed (9.0%)
Estimated time remaining: 0h 37m

Processing batch 9/93 (100 locations)
Batch 9 completed: 96/100 successful (21.4s)
Overall progress: 940/9360 rows processed (10.0%)
Estimated time remaining: 0h 30m

Processing batch 10/93 (100 locations)
Batch 10 completed: 96/100 successful (24.0s)
Overall progress: 1040/9371 rows processed (11.1%)
Estimated time remaining: 0h 33m

Processing batch 11/93 (100 locations)
Batch 11 completed: 96/100 successful (26.5s)
Overall progress: 1140/9386 rows processed (12.1%)
Estimated time remaining: 0h 36m

Processing batch 12/93 (100 locations)
Batch 12 completed: 97/100 successful (21.7s)
Overall progress: 1240/9393 rows processed (13.2%)
Estimated time remaining: 0h 29m

Processing batch 13/93 (100 locations)
Batch 13 completed: 96/100 successful (22.8s)
Overall progress: 1340/9403 rows processed (14.3%)
Estimated time remaining: 0h 30m

Processing batch 14/93 (100 locations)
Batch 14 completed: 98/100 successful (27.7s)
Overall progress: 1440/9416 rows processed (15.3%)
Estimated time remaining: 0h 36m

Processing batch 15/93 (100 locations)
Batch 15 completed: 98/100 successful (19.2s)
Overall progress: 1540/9425 rows processed (16.3%)
Estimated time remaining: 0h 25m

Processing batch 16/93 (100 locations)
Batch 16 completed: 97/100 successful (15.6s)
Overall progress: 1640/9437 rows processed (17.4%)
Estimated time remaining: 0h 20m

Processing batch 17/93 (100 locations)
Batch 17 completed: 96/100 successful (24.1s)
Overall progress: 1740/9451 rows processed (18.4%)
Estimated time remaining: 0h 30m

Processing batch 18/93 (100 locations)
Batch 18 completed: 98/100 successful (13.3s)
Overall progress: 1840/9462 rows processed (19.4%)
Estimated time remaining: 0h 16m

Processing batch 19/93 (100 locations)
Batch 19 completed: 98/100 successful (15.7s)
Overall progress: 1940/9472 rows processed (20.5%)
Estimated time remaining: 0h 19m

Processing batch 20/93 (100 locations)
Batch 20 completed: 96/100 successful (19.7s)
Overall progress: 2040/9489 rows processed (21.5%)
Estimated time remaining: 0h 24m

Processing batch 21/93 (100 locations)
Batch 21 completed: 97/100 successful (10.2s)
Overall progress: 2140/9501 rows processed (22.5%)
Estimated time remaining: 0h 12m

Processing batch 22/93 (100 locations)

RateLimiter caught an error, retrying (0/2 tries). Called with (*('Cairo 11',), **{}).
Traceback (most recent call last):
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/urllib3/connectionpool.py", line 534, in _make_request
    response = conn.getresponse()
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/urllib3/connection.py", line 516, in getresponse
    httplib_response = super().getresponse()
  File "/home/nkama/.pyenv/versions/3.10.6/lib/python3.10/http/client.py", line 1374, in getresponse
    response.begin()
  File "/home/nkama/.pyenv/versions/3.10.6/lib/python3.10/http/client.py", line 318, in begin
    version, status, reason = self._read_status()
  File "/home/nkama/.pyenv/versions/3.10.6/lib/python3.10/http/client.py", line 279, in _read_status
    line = str(self.fp.readline(_MAXLINE + 1), "iso-8859-1")
  File "/home/nkama/.pyenv/versions/3.10.6/lib/python3.10/socket.py", line 705, in readinto
    return self._sock.recv_into(b)
  File "/home/nkama/.pyenv/versions/3.10.6/lib/python3.10/ssl.py", line 1274, in recv_into
    return self.read(nbytes, buffer)
  File "/home/nkama/.pyenv/versions/3.10.6/lib/python3.10/ssl.py", line 1130, in read
    return self._sslobj.read(len, buffer)
TimeoutError: The read operation timed out

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/urllib3/connectionpool.py", line 787, in urlopen
    response = self._make_request(
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/urllib3/connectionpool.py", line 536, in _make_request
    self._raise_timeout(err=e, url=url, timeout_value=read_timeout)
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/urllib3/connectionpool.py", line 367, in _raise_timeout
    raise ReadTimeoutError(
urllib3.exceptions.ReadTimeoutError: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/requests/adapters.py", line 667, in send
    resp = conn.urlopen(
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/urllib3/connectionpool.py", line 871, in urlopen
    return self.urlopen(
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/urllib3/connectionpool.py", line 871, in urlopen
    return self.urlopen(
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/urllib3/connectionpool.py", line 841, in urlopen
    retries = retries.increment(
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/urllib3/util/retry.py", line 519, in increment
    raise MaxRetryError(_pool, url, reason) from reason  # type: ignore[arg-type]
urllib3.exceptions.MaxRetryError: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Cairo+11&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/geopy/adapters.py", line 482, in _request
    resp = self.session.get(url, timeout=timeout, headers=headers)
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/requests/sessions.py", line 602, in get
    return self.request("GET", url, **kwargs)
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/requests/sessions.py", line 589, in request
    resp = self.send(prep, **send_kwargs)
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/requests/sessions.py", line 703, in send
    r = adapter.send(request, **kwargs)
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/requests/adapters.py", line 700, in send
    raise ConnectionError(e, request=request)
requests.exceptions.ConnectionError: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Cairo+11&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/geopy/extra/rate_limiter.py", line 136, in _retries_gen
    yield i  # Run the function.
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/geopy/extra/rate_limiter.py", line 274, in __call__
    res = self.func(*args, **kwargs)
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/geopy/geocoders/nominatim.py", line 297, in geocode
    return self._call_geocoder(url, callback, timeout=timeout)
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/geopy/geocoders/base.py", line 368, in _call_geocoder
    result = self.adapter.get_json(url, timeout=timeout, headers=req_headers)
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/geopy/adapters.py", line 472, in get_json
    resp = self._request(url, timeout=timeout, headers=headers)
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/geopy/adapters.py", line 494, in _request
    raise GeocoderUnavailable(message)
geopy.exc.GeocoderUnavailable: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Cairo+11&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
RateLimiter caught an error, retrying (1/2 tries). Called with (*('Cairo 11',), **{}).
Traceback (most recent call last):
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/urllib3/connectionpool.py", line 534, in _make_request
    response = conn.getresponse()
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/urllib3/connection.py", line 516, in getresponse
    httplib_response = super().getresponse()
  File "/home/nkama/.pyenv/versions/3.10.6/lib/python3.10/http/client.py", line 1374, in getresponse
    response.begin()
  File "/home/nkama/.pyenv/versions/3.10.6/lib/python3.10/http/client.py", line 318, in begin
    version, status, reason = self._read_status()
  File "/home/nkama/.pyenv/versions/3.10.6/lib/python3.10/http/client.py", line 279, in _read_status
    line = str(self.fp.readline(_MAXLINE + 1), "iso-8859-1")
  File "/home/nkama/.pyenv/versions/3.10.6/lib/python3.10/socket.py", line 705, in readinto
    return self._sock.recv_into(b)
  File "/home/nkama/.pyenv/versions/3.10.6/lib/python3.10/ssl.py", line 1274, in recv_into
    return self.read(nbytes, buffer)
  File "/home/nkama/.pyenv/versions/3.10.6/lib/python3.10/ssl.py", line 1130, in read
    return self._sslobj.read(len, buffer)
TimeoutError: The read operation timed out

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/urllib3/connectionpool.py", line 787, in urlopen
    response = self._make_request(
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/urllib3/connectionpool.py", line 536, in _make_request
    self._raise_timeout(err=e, url=url, timeout_value=read_timeout)
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/urllib3/connectionpool.py", line 367, in _raise_timeout
    raise ReadTimeoutError(
urllib3.exceptions.ReadTimeoutError: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/requests/adapters.py", line 667, in send
    resp = conn.urlopen(
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/urllib3/connectionpool.py", line 871, in urlopen
    return self.urlopen(
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/urllib3/connectionpool.py", line 871, in urlopen
    return self.urlopen(
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/urllib3/connectionpool.py", line 841, in urlopen
    retries = retries.increment(
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/urllib3/util/retry.py", line 519, in increment
    raise MaxRetryError(_pool, url, reason) from reason  # type: ignore[arg-type]
urllib3.exceptions.MaxRetryError: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Cairo+11&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/geopy/adapters.py", line 482, in _request
    resp = self.session.get(url, timeout=timeout, headers=headers)
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/requests/sessions.py", line 602, in get
    return self.request("GET", url, **kwargs)
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/requests/sessions.py", line 589, in request
    resp = self.send(prep, **send_kwargs)
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/requests/sessions.py", line 703, in send
    r = adapter.send(request, **kwargs)
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/requests/adapters.py", line 700, in send
    raise ConnectionError(e, request=request)
requests.exceptions.ConnectionError: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Cairo+11&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/geopy/extra/rate_limiter.py", line 136, in _retries_gen
    yield i  # Run the function.
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/geopy/extra/rate_limiter.py", line 274, in __call__
    res = self.func(*args, **kwargs)
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/geopy/geocoders/nominatim.py", line 297, in geocode
    return self._call_geocoder(url, callback, timeout=timeout)
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/geopy/geocoders/base.py", line 368, in _call_geocoder
    result = self.adapter.get_json(url, timeout=timeout, headers=req_headers)
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/geopy/adapters.py", line 472, in get_json
    resp = self._request(url, timeout=timeout, headers=headers)
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/geopy/adapters.py", line 494, in _request
    raise GeocoderUnavailable(message)
geopy.exc.GeocoderUnavailable: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Cairo+11&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
RateLimiter swallowed an error after 2 retries. Called with (*('Cairo 11',), **{}).
Traceback (most recent call last):
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/urllib3/connectionpool.py", line 534, in _make_request
    response = conn.getresponse()
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/urllib3/connection.py", line 516, in getresponse
    httplib_response = super().getresponse()
  File "/home/nkama/.pyenv/versions/3.10.6/lib/python3.10/http/client.py", line 1374, in getresponse
    response.begin()
  File "/home/nkama/.pyenv/versions/3.10.6/lib/python3.10/http/client.py", line 318, in begin
    version, status, reason = self._read_status()
  File "/home/nkama/.pyenv/versions/3.10.6/lib/python3.10/http/client.py", line 279, in _read_status
    line = str(self.fp.readline(_MAXLINE + 1), "iso-8859-1")
  File "/home/nkama/.pyenv/versions/3.10.6/lib/python3.10/socket.py", line 705, in readinto
    return self._sock.recv_into(b)
  File "/home/nkama/.pyenv/versions/3.10.6/lib/python3.10/ssl.py", line 1274, in recv_into
    return self.read(nbytes, buffer)
  File "/home/nkama/.pyenv/versions/3.10.6/lib/python3.10/ssl.py", line 1130, in read
    return self._sslobj.read(len, buffer)
TimeoutError: The read operation timed out

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/urllib3/connectionpool.py", line 787, in urlopen
    response = self._make_request(
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/urllib3/connectionpool.py", line 536, in _make_request
    self._raise_timeout(err=e, url=url, timeout_value=read_timeout)
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/urllib3/connectionpool.py", line 367, in _raise_timeout
    raise ReadTimeoutError(
urllib3.exceptions.ReadTimeoutError: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/requests/adapters.py", line 667, in send
    resp = conn.urlopen(
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/urllib3/connectionpool.py", line 871, in urlopen
    return self.urlopen(
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/urllib3/connectionpool.py", line 871, in urlopen
    return self.urlopen(
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/urllib3/connectionpool.py", line 841, in urlopen
    retries = retries.increment(
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/urllib3/util/retry.py", line 519, in increment
    raise MaxRetryError(_pool, url, reason) from reason  # type: ignore[arg-type]
urllib3.exceptions.MaxRetryError: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Cairo+11&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/geopy/adapters.py", line 482, in _request
    resp = self.session.get(url, timeout=timeout, headers=headers)
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/requests/sessions.py", line 602, in get
    return self.request("GET", url, **kwargs)
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/requests/sessions.py", line 589, in request
    resp = self.send(prep, **send_kwargs)
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/requests/sessions.py", line 703, in send
    r = adapter.send(request, **kwargs)
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/requests/adapters.py", line 700, in send
    raise ConnectionError(e, request=request)
requests.exceptions.ConnectionError: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Cairo+11&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/geopy/extra/rate_limiter.py", line 274, in __call__
    res = self.func(*args, **kwargs)
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/geopy/geocoders/nominatim.py", line 297, in geocode
    return self._call_geocoder(url, callback, timeout=timeout)
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/geopy/geocoders/base.py", line 368, in _call_geocoder
    result = self.adapter.get_json(url, timeout=timeout, headers=req_headers)
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/geopy/adapters.py", line 472, in get_json
    resp = self._request(url, timeout=timeout, headers=headers)
  File "/home/nkama/.pyenv/versions/3.10.6/envs/thesisenv/lib/python3.10/site-packages/geopy/adapters.py", line 494, in _request
    raise GeocoderUnavailable(message)
geopy.exc.GeocoderUnavailable: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Cairo+11&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

Batch 22 completed: 91/100 successful (38.8s)
Overall progress: 2240/9514 rows processed (23.5%)
Estimated time remaining: 0h 47m

Processing batch 23/93 (100 locations)
Batch 23 completed: 97/100 successful (14.4s)
Overall progress: 2340/9532 rows processed (24.5%)
Estimated time remaining: 0h 17m

Processing batch 24/93 (100 locations)
Batch 24 completed: 98/100 successful (18.0s)
Overall progress: 2440/9541 rows processed (25.6%)
Estimated time remaining: 0h 21m

Processing batch 25/93 (100 locations)
Batch 25 completed: 98/100 successful (19.3s)
Overall progress: 2540/9555 rows processed (26.6%)
Estimated time remaining: 0h 22m

Processing batch 26/93 (100 locations)
Batch 26 completed: 100/100 successful (10.8s)
Overall progress: 2640/9571 rows processed (27.6%)
Estimated time remaining: 0h 12m

Processing batch 27/93 (100 locations)
Batch 27 completed: 96/100 successful (16.7s)
Overall progress: 2740/9586 rows processed (28.6%)
Estimated time remaining: 0h 19m

Processing batch 28/93 (100 locations)
Batch 28 completed: 97/100 successful (19.3s)
Overall progress: 2840/9596 rows processed (29.6%)
Estimated time remaining: 0h 21m

Processing batch 29/93 (100 locations)
Batch 29 completed: 94/100 successful (20.7s)
Overall progress: 2940/9605 rows processed (30.6%)
Estimated time remaining: 0h 23m

Processing batch 30/93 (100 locations)
Batch 30 completed: 98/100 successful (18.1s)
Overall progress: 3040/9616 rows processed (31.6%)
Estimated time remaining: 0h 19m

Processing batch 31/93 (100 locations)
Batch 31 completed: 95/100 successful (18.0s)
Overall progress: 3140/9631 rows processed (32.6%)
Estimated time remaining: 0h 19m

Processing batch 32/93 (100 locations)
Batch 32 completed: 98/100 successful (18.7s)
Overall progress: 3240/9652 rows processed (33.6%)
Estimated time remaining: 0h 20m

Processing batch 33/93 (100 locations)
Batch 33 completed: 96/100 successful (17.9s)
Overall progress: 3340/9675 rows processed (34.5%)
Estimated time remaining: 0h 18m

Processing batch 34/93 (100 locations)
Batch 34 completed: 97/100 successful (7.1s)
Overall progress: 3440/9689 rows processed (35.5%)
Estimated time remaining: 0h 7m

Processing batch 35/93 (100 locations)
Batch 35 completed: 97/100 successful (10.8s)
Overall progress: 3540/9708 rows processed (36.5%)
Estimated time remaining: 0h 11m

Processing batch 36/93 (100 locations)
Batch 36 completed: 98/100 successful (14.9s)
Overall progress: 3640/9722 rows processed (37.4%)
Estimated time remaining: 0h 15m

Processing batch 37/93 (100 locations)
Batch 37 completed: 96/100 successful (22.4s)
Overall progress: 3740/9733 rows processed (38.4%)
Estimated time remaining: 0h 22m

Processing batch 38/93 (100 locations)
Batch 38 completed: 97/100 successful (12.0s)
Overall progress: 3840/9747 rows processed (39.4%)
Estimated time remaining: 0h 11m

Processing batch 39/93 (100 locations)
Batch 39 completed: 94/100 successful (19.2s)
Overall progress: 3940/9755 rows processed (40.4%)
Estimated time remaining: 0h 18m

Processing batch 40/93 (100 locations)
Batch 40 completed: 95/100 successful (18.1s)
Overall progress: 4040/9766 rows processed (41.4%)
Estimated time remaining: 0h 17m

Processing batch 41/93 (100 locations)
Batch 41 completed: 98/100 successful (10.9s)
Overall progress: 4140/9779 rows processed (42.3%)
Estimated time remaining: 0h 10m

Processing batch 42/93 (100 locations)
Batch 42 completed: 95/100 successful (10.8s)
Overall progress: 4240/9794 rows processed (43.3%)
Estimated time remaining: 0h 9m

Processing batch 43/93 (100 locations)
Batch 43 completed: 97/100 successful (13.3s)
Overall progress: 4340/9808 rows processed (44.2%)
Estimated time remaining: 0h 12m

Processing batch 44/93 (100 locations)
Batch 44 completed: 94/100 successful (12.1s)
Overall progress: 4440/9823 rows processed (45.2%)
Estimated time remaining: 0h 10m

Processing batch 45/93 (100 locations)
Batch 45 completed: 96/100 successful (15.5s)
Overall progress: 4540/9835 rows processed (46.2%)
Estimated time remaining: 0h 13m

Processing batch 46/93 (100 locations)
Batch 46 completed: 90/100 successful (18.0s)
Overall progress: 4640/9846 rows processed (47.1%)
Estimated time remaining: 0h 15m

Processing batch 47/93 (100 locations)
Batch 47 completed: 96/100 successful (18.0s)
Overall progress: 4740/9863 rows processed (48.1%)
Estimated time remaining: 0h 15m

Processing batch 48/93 (100 locations)
Batch 48 completed: 92/100 successful (15.7s)
Overall progress: 4840/9878 rows processed (49.0%)
Estimated time remaining: 0h 13m

Processing batch 49/93 (100 locations)
Batch 49 completed: 99/100 successful (14.5s)
Overall progress: 4940/9892 rows processed (49.9%)
Estimated time remaining: 0h 11m

Processing batch 50/93 (100 locations)
Batch 50 completed: 92/100 successful (13.1s)
Overall progress: 5040/9906 rows processed (50.9%)
Estimated time remaining: 0h 10m

Processing batch 51/93 (100 locations)
Batch 51 completed: 97/100 successful (10.9s)
Overall progress: 5140/9920 rows processed (51.8%)
Estimated time remaining: 0h 8m

Processing batch 52/93 (100 locations)
Batch 52 completed: 95/100 successful (15.6s)
Overall progress: 5240/9931 rows processed (52.8%)
Estimated time remaining: 0h 12m

Processing batch 53/93 (100 locations)
Batch 53 completed: 97/100 successful (9.5s)
Overall progress: 5340/9942 rows processed (53.7%)
Estimated time remaining: 0h 7m

Processing batch 54/93 (100 locations)
Batch 54 completed: 94/100 successful (13.2s)
Overall progress: 5440/9951 rows processed (54.7%)
Estimated time remaining: 0h 9m

Processing batch 55/93 (100 locations)
Batch 55 completed: 89/100 successful (18.1s)
Overall progress: 5540/9962 rows processed (55.6%)
Estimated time remaining: 0h 13m

Processing batch 56/93 (100 locations)
Batch 56 completed: 97/100 successful (14.5s)
Overall progress: 5640/9975 rows processed (56.5%)
Estimated time remaining: 0h 10m

Processing batch 57/93 (100 locations)
Batch 57 completed: 94/100 successful (16.4s)
Overall progress: 5740/9989 rows processed (57.5%)
Estimated time remaining: 0h 11m

Processing batch 58/93 (100 locations)
Batch 58 completed: 97/100 successful (7.5s)
Overall progress: 5840/10005 rows processed (58.4%)
Estimated time remaining: 0h 5m

Processing batch 59/93 (100 locations)
Batch 59 completed: 93/100 successful (14.4s)
Overall progress: 5940/10016 rows processed (59.3%)
Estimated time remaining: 0h 9m

Processing batch 60/93 (100 locations)
Batch 60 completed: 94/100 successful (13.5s)
Overall progress: 6040/10029 rows processed (60.2%)
Estimated time remaining: 0h 8m

Processing batch 61/93 (100 locations)
Batch 61 completed: 99/100 successful (15.5s)
Overall progress: 6140/10044 rows processed (61.1%)
Estimated time remaining: 0h 10m

Processing batch 62/93 (100 locations)
Batch 62 completed: 96/100 successful (9.6s)
Overall progress: 6240/10059 rows processed (62.0%)
Estimated time remaining: 0h 6m

Processing batch 63/93 (100 locations)
Batch 63 completed: 96/100 successful (4.9s)
Overall progress: 6340/10069 rows processed (63.0%)
Estimated time remaining: 0h 3m

Processing batch 64/93 (100 locations)
Batch 64 completed: 97/100 successful (10.7s)
Overall progress: 6440/10080 rows processed (63.9%)
Estimated time remaining: 0h 6m

Processing batch 65/93 (100 locations)
Batch 65 completed: 98/100 successful (8.4s)
Overall progress: 6540/10094 rows processed (64.8%)
Estimated time remaining: 0h 4m

Processing batch 66/93 (100 locations)
Batch 66 completed: 96/100 successful (10.9s)
Overall progress: 6640/10104 rows processed (65.7%)
Estimated time remaining: 0h 6m

Processing batch 67/93 (100 locations)
Batch 67 completed: 95/100 successful (16.8s)
Overall progress: 6740/10114 rows processed (66.6%)
Estimated time remaining: 0h 9m

Processing batch 68/93 (100 locations)
Batch 68 completed: 95/100 successful (8.4s)
Overall progress: 6840/10134 rows processed (67.5%)
Estimated time remaining: 0h 4m

Processing batch 69/93 (100 locations)
Batch 69 completed: 99/100 successful (4.8s)
Overall progress: 6940/10148 rows processed (68.4%)
Estimated time remaining: 0h 2m

Processing batch 70/93 (100 locations)
Batch 70 completed: 95/100 successful (12.0s)
Overall progress: 7040/10162 rows processed (69.3%)
Estimated time remaining: 0h 6m

Processing batch 71/93 (100 locations)
Batch 71 completed: 95/100 successful (10.9s)
Overall progress: 7140/10175 rows processed (70.2%)
Estimated time remaining: 0h 5m

Processing batch 72/93 (100 locations)
Batch 72 completed: 95/100 successful (8.3s)
Overall progress: 7240/10191 rows processed (71.0%)
Estimated time remaining: 0h 4m

Processing batch 73/93 (100 locations)
Batch 73 completed: 95/100 successful (6.0s)
Overall progress: 7340/10205 rows processed (71.9%)
Estimated time remaining: 0h 2m

Processing batch 74/93 (100 locations)
Batch 74 completed: 94/100 successful (12.0s)
Overall progress: 7440/10221 rows processed (72.8%)
Estimated time remaining: 0h 5m

Processing batch 75/93 (100 locations)
Batch 75 completed: 95/100 successful (17.3s)
Overall progress: 7540/10230 rows processed (73.7%)
Estimated time remaining: 0h 7m

Processing batch 76/93 (100 locations)
Batch 76 completed: 96/100 successful (12.0s)
Overall progress: 7640/10243 rows processed (74.6%)
Estimated time remaining: 0h 5m

Processing batch 77/93 (100 locations)
Batch 77 completed: 99/100 successful (18.7s)
Overall progress: 7740/10260 rows processed (75.4%)
Estimated time remaining: 0h 7m

Processing batch 78/93 (100 locations)
Batch 78 completed: 97/100 successful (6.6s)
Overall progress: 7840/10270 rows processed (76.3%)
Estimated time remaining: 0h 2m

Processing batch 79/93 (100 locations)
Batch 79 completed: 91/100 successful (16.8s)
Overall progress: 7940/10286 rows processed (77.2%)
Estimated time remaining: 0h 6m

Processing batch 80/93 (100 locations)
Batch 80 completed: 98/100 successful (7.3s)
Overall progress: 8040/10299 rows processed (78.1%)
Estimated time remaining: 0h 2m

Processing batch 81/93 (100 locations)
Batch 81 completed: 96/100 successful (14.4s)
Overall progress: 8140/10311 rows processed (78.9%)
Estimated time remaining: 0h 5m

Processing batch 82/93 (100 locations)
Batch 82 completed: 96/100 successful (14.4s)
Overall progress: 8240/10325 rows processed (79.8%)
Estimated time remaining: 0h 5m

Processing batch 83/93 (100 locations)
Batch 83 completed: 97/100 successful (16.8s)
Overall progress: 8340/10338 rows processed (80.7%)
Estimated time remaining: 0h 5m

Processing batch 84/93 (100 locations)
Batch 84 completed: 99/100 successful (12.0s)
Overall progress: 8440/10347 rows processed (81.6%)
Estimated time remaining: 0h 3m

Processing batch 85/93 (100 locations)
Batch 85 completed: 100/100 successful (12.1s)
Overall progress: 8540/10359 rows processed (82.4%)
Estimated time remaining: 0h 3m

Processing batch 86/93 (100 locations)
Batch 86 completed: 98/100 successful (0.0s)
Overall progress: 8640/10371 rows processed (83.3%)
Estimated time remaining: 0h 0m

Processing batch 87/93 (100 locations)
Batch 87 completed: 93/100 successful (9.6s)
Overall progress: 8740/10388 rows processed (84.1%)
Estimated time remaining: 0h 2m

Processing batch 88/93 (100 locations)
Batch 88 completed: 91/100 successful (13.2s)
Overall progress: 8840/10395 rows processed (85.0%)
Estimated time remaining: 0h 3m

Processing batch 89/93 (100 locations)
Batch 89 completed: 98/100 successful (7.3s)
Overall progress: 8940/10408 rows processed (85.9%)
Estimated time remaining: 0h 1m

Processing batch 90/93 (100 locations)
Batch 90 completed: 96/100 successful (9.7s)
Overall progress: 9040/10417 rows processed (86.8%)
Estimated time remaining: 0h 2m

Processing batch 91/93 (100 locations)
Batch 91 completed: 97/100 successful (10.8s)
Overall progress: 9140/10432 rows processed (87.6%)
Estimated time remaining: 0h 2m

Processing batch 92/93 (100 locations)
Batch 92 completed: 97/100 successful (12.0s)
Overall progress: 9240/10448 rows processed (88.4%)
Estimated time remaining: 0h 2m

Processing batch 93/93 (23 locations)
Batch 93 completed: 22/23 successful (1.1s)
Overall progress: 9263/10452 rows processed (88.6%)
Estimated time remaining: 0h 0m

Geocoding completed in 0h 24m 43s
Successfully geocoded 8857 of 10452 locations (84.7%)

Failed to geocode 1595 locations
Failed locations saved to 'failed_geocodes.csv'

Sample of failed locations:
  - 'Medan  Indonesia'
  - 'Medan  Indonesia'
  - 'Medan  Indonesia'
  - 'Djokja  Yogyakarta  Indonesia'
  - 'Triolet  Mauritius'
  - 'Plaine Des Papayes  Pamplemousses  Mauritius'
  - 'Toronto  Ontario'
  - 'Phnom Penh'
  - 'Medan  Indonesia'
  - 'Phnom Penh'

In [125]:
users_df[(users_df["lat"].notna()) & (users_df["lng"].notna())]

                       location     lat      lng
40             Medan  Indonesia  25.074   55.189
42               Phnom Penh  11  -8.584  116.107
43        Hollywood  California  -7.801  110.365
44    San Francisco  California   3.590   98.674
45              Santiago  Chile  11.534  104.880
...                         ...     ...      ...
9232                        NaN  -7.801  110.365
9242                        NaN  45.963  -66.643
9245                        NaN  18.486  -69.932
9257                        NaN   3.590   98.674
9262                        NaN   3.590   98.674

[8857 rows x 3 columns]

In [131]:
users_data = users.merge(users_df)  # Add indicator to see which rows came from where

# Reset the index of the combined dataframe
users_data = users_data.reset_index(drop=True)

users_data.head()

,user_id,locale,gender,joinedAt,location,timezone,age,lat,lng
0,3197468391,id_ID,male,2012-10-02T06:40:55.524Z,Medan Indonesia,480.0,19.0,NaN,NaN
1,3197468391,id_ID,male,2012-10-02T06:40:55.524Z,Medan Indonesia,480.0,19.0,NaN,NaN
2,3197468391,id_ID,male,2012-10-02T06:40:55.524Z,Medan Indonesia,480.0,19.0,NaN,NaN
3,3197468391,id_ID,male,2012-10-02T06:40:55.524Z,Medan Indonesia,480.0,19.0,NaN,NaN
4,3197468391,id_ID,male,2012-10-02T06:40:55.524Z,Medan Indonesia,480.0,19.0,NaN,NaN

In [133]:
len(users_data)

4439361

In [102]:
import pandas as pd

# Your locations array
locations = ['Medan Indonesia', 'Djokja Yogyakarta Indonesia', 'Triolet Mauritius', 
             'Columbus OH', 'Helsinki Finland', 'South El Monte California']  # etc.

# Create a DataFrame
users_df2 = pd.DataFrame({'location': locations})


# Apply the function
users_df2 = add_user_coordinates(users_df2)

In [ ]:
users_df_ = add_user_coordinates(users)

In [106]:
users_df_.head()

NameError: name 'users_df_' is not defined

## Create interactions data

In [3]:
interactions = pd.read_csv("/home/nkama/masters_thesis_project/thesis/user_event_pairs.csv")
interactions.head()

   Unnamed: 0    event_id     user_id attendance_status
0           0  1159822043  1975964455               yes
1           1  1159822043   252302513               yes
2           2  1159822043  4226086795               yes
3           3  1159822043  3805886383               yes
4           4  1159822043  1420484491               yes

In [74]:
len(interactions.event_id.unique())

16789

In [8]:
train = pd.read_csv("/home/nkama/masters_thesis_project/event_rec_engine_challenge/train.csv")
train.head()

,user,event,invited,timestamp,interested,not_interested
0,3044012,1918771225,0,2012-10-02 15:53:05.754000+00:00,0,0
1,3044012,1502284248,0,2012-10-02 15:53:05.754000+00:00,0,0
2,3044012,2529072432,0,2012-10-02 15:53:05.754000+00:00,1,0
3,3044012,3072478280,0,2012-10-02 15:53:05.754000+00:00,0,0
4,3044012,1390707377,0,2012-10-02 15:53:05.754000+00:00,0,0

In [10]:
len(train)

15398

In [71]:
import pandas as pd
import numpy as np

# Read the DataFrames

df_attendance = pd.read_csv("/home/nkama/masters_thesis_project/thesis/user_event_pairs.csv")
df_interest = pd.read_csv("/home/nkama/masters_thesis_project/event_rec_engine_challenge/train.csv")


# Get unique events from both DataFrames
attendance_events = set(df_attendance['event_id'].unique())
interest_events = set(df_interest['event'].unique())

# Find common events
common_events = attendance_events.intersection(interest_events)

# Get unique users from both DataFrames
attendance_users = set(df_attendance['user_id'].unique())
interest_users = set(df_interest['user'].unique())

# Find common users
common_users = attendance_users.intersection(interest_users)

# Print results
print("\nEvents statistics:")
print(f"Events in attendance DataFrame: {len(attendance_events):,}")
print(f"Events in interest DataFrame: {len(interest_events):,}")
print(f"Common events: {len(common_events):,}")

print("\nUsers statistics:")
print(f"Users in attendance DataFrame: {len(attendance_users):,}")
print(f"Users in interest DataFrame: {len(interest_users):,}")
print(f"Common users: {len(common_users):,}")

# Show sample of common events and users
print("\nSample of common events (first 5):")
print(list(common_events)[:5])
print("\nSample of common users (first 5):")
print(list(common_users)[:5])

# Calculate overlap percentages
event_overlap_percent = (len(common_events) / min(len(attendance_events), len(interest_events))) * 100
user_overlap_percent = (len(common_users) / min(len(attendance_users), len(interest_users))) * 100

print(f"\nEvent overlap percentage: {event_overlap_percent:.2f}%")
print(f"User overlap percentage: {user_overlap_percent:.2f}%")

# Optional: Create DataFrames with only common events/users
common_events_df = df_attendance[df_attendance['event_id'].isin(common_events)]
common_users_df = df_attendance[df_attendance['user_id'].isin(common_users)]

print("\nShape of DataFrame with common events:", common_events_df.shape)
print("Shape of DataFrame with common users:", common_users_df.shape)

Events statistics:
Events in attendance DataFrame: 16,789
Events in interest DataFrame: 8,846
Common events: 6,631

Users statistics:
Users in attendance DataFrame: 3,448,296
Users in interest DataFrame: 2,034
Common users: 778

Sample of common events (first 5):
[np.int64(2168553474), np.int64(2692153353), np.int64(1072889885), np.int64(3783327786), np.int64(4277141562)]

Sample of common users (first 5):
[np.int64(282914818), np.int64(552316934), np.int64(135706634), np.int64(2933561364), np.int64(2624413719)]

Event overlap percentage: 74.96%
User overlap percentage: 38.25%

Shape of DataFrame with common events: (4989801, 4)
Shape of DataFrame with common users: (6718, 4)

In [45]:
len(df_attendees.event.unique())

24144

In [17]:
import pandas as pd
weather = pd.read_csv("/home/nkama/masters_thesis_project/open-meteo-37.43N122.07W11m.csv")
weather.head()

,latitude,longitude,elevation,utc_offset_seconds,timezone,timezone_abbreviation
0,37.434093,-122.07446,11.0,-28800,America/Los_Angeles,GMT-8
1,time,temperature_2m (°C),relative_humidity_2m (%),rain (mm),snowfall (cm),NaN
2,2012-02-02T00:00,7.8,91,0.00,0.00,NaN
3,2012-02-02T01:00,7.7,91,0.00,0.00,NaN
4,2012-02-02T02:00,7.8,90,0.00,0.00,NaN

In [ ]:
!pip install openmeteo-requests

In [ ]:
!pip install requests-cache retry-requests

In [27]:
# Split events dataframe into two halves
def split_events_by_index(df):
    # Calculate middle point
    middle_idx = len(df) // 2
    
    # Split into two parts
    first_half = df.iloc[:middle_idx]
    second_half = df.iloc[middle_idx:]
    
    return first_half, second_half

# Split the dataframe
events_first_half, events_second_half = split_events_by_index(events)

# Print information about the splits
print("Original DataFrame shape:", events.shape)
print("First half shape:", events_first_half.shape)
print("Second half shape:", events_second_half.shape)

# Verify no overlap in event_ids
first_half_events = set(events_first_half['event_id'])
second_half_events = set(events_second_half['event_id'])
overlap = first_half_events.intersection(second_half_events)
print("\nNumber of overlapping events:", len(overlap))

NameError: name 'events' is not defined

In [26]:



# Concatenate the two halves back together
df_event_combined = pd.concat([events_first_half, events_second_half], axis=0)

# Reset the index of the combined dataframe
df_event_combined = df_event_combined.reset_index(drop=True)

# Verify the combined dataframe
print("Original DataFrame shape:", events.shape)
print("Combined DataFrame shape:", df_event_combined.shape)

# Verify all event_ids are preserved
original_events = set(events['event_id'])
combined_events = set(events['event_id'])
missing_events = original_events - combined_events

print("\nNumber of missing events:", len(missing_events))
if len(missing_events) == 0:
    print("All events successfully preserved in the combined DataFrame!")
else:
    print("Warning: Some events are missing in the combined DataFrame!")

NameError: name 'events_first_half' is not defined

In [80]:
import openmeteo_requests
import requests_cache
import pandas as pd
from retry_requests import retry
from datetime import datetime
import time

def get_weather_for_events(events_df):
    """
    Extract weather data for each event in the dataframe
    
    Args:
        events_df: DataFrame containing event data with start_time, lat, and lng columns
        
    Returns:
        DataFrame with weather data columns added
    """
    # Setup the Open-Meteo API client with cache and retry on error
    cache_session = requests_cache.CachedSession('.cache', expire_after=-1)
    retry_session = retry(cache_session, retries=5, backoff_factor=0.2)
    openmeteo = openmeteo_requests.Client(session=retry_session)
    
    # Create a copy of the dataframe to avoid modifying the original
    result_df = events_df.copy()
    
    # Add empty columns for weather data
    result_df['weather_code'] = None
    result_df['temperature_2m_mean'] = None
    result_df['precipitation_sum'] = None
    result_df['precipitation_hours'] = None
    result_df['wind_speed_10m_max'] = None
    
    # Process events in batches to avoid overwhelming the API
    batch_size = 50
    num_events = len(events_df)
    
    for i in range(0, num_events, batch_size):
        batch = events_df.iloc[i:min(i+batch_size, num_events)]
        print(f"Processing batch {i//batch_size + 1}/{(num_events+batch_size-1)//batch_size}")
        
        # Process each event in the batch
        for idx, event in batch.iterrows():
            # Check if lat and lng are valid
            if pd.isna(event['lat']) or pd.isna(event['lng']):
                print(f"Skipping event {event['event_id']} - missing coordinates")
                continue
                
            # Parse the start_time to get the date
            try:
                event_time = pd.to_datetime(event['start_time'])
                event_date = event_time.strftime('%Y-%m-%d')
            except:
                print(f"Skipping event {event['event_id']} - invalid date format")
                continue
            
            # Prepare API parameters
            params = {
                "latitude": event['lat'],
                "longitude": event['lng'],
                "start_date": event_date,
                "end_date": event_date,
                "daily": ["weather_code", "temperature_2m_mean", "precipitation_sum", 
                          "precipitation_hours", "wind_speed_10m_max"],
                "timeformat": "unixtime",
                "timezone": "GMT"  # Using GMT as a default
            }
            
            try:
                # Make API request
                responses = openmeteo.weather_api("https://archive-api.open-meteo.com/v1/archive", params=params)
                response = responses[0]
                
                # Process daily data
                daily = response.Daily()
                
                # Get weather data
                weather_code = daily.Variables(0).ValuesAsNumpy()[0]
                temperature = daily.Variables(1).ValuesAsNumpy()[0]
                precipitation_sum = daily.Variables(2).ValuesAsNumpy()[0]
                precipitation_hours = daily.Variables(3).ValuesAsNumpy()[0]
                wind_speed = daily.Variables(4).ValuesAsNumpy()[0]
                
                # Store data in result dataframe
                result_df.loc[idx, 'weather_code'] = weather_code
                result_df.loc[idx, 'temperature_2m_mean'] = temperature
                result_df.loc[idx, 'precipitation_sum'] = precipitation_sum
                result_df.loc[idx, 'precipitation_hours'] = precipitation_hours
                result_df.loc[idx, 'wind_speed_10m_max'] = wind_speed
                
                # Add a small delay to avoid rate limiting
                time.sleep(0.1)
                
            except Exception as e:
                print(f"Error getting weather for event {event['event_id']}: {e}")
        
        # Add a delay between batches to avoid rate limiting
        time.sleep(1)
    
    return result_df

In [90]:
result = get_weather_for_events(events_first_half)

Processing batch 1/94
Processing batch 2/94
Processing batch 3/94
Processing batch 4/94
Processing batch 5/94
Processing batch 6/94
Processing batch 7/94
Processing batch 8/94
Processing batch 9/94
Processing batch 10/94
Processing batch 11/94
Processing batch 12/94
Processing batch 13/94
Processing batch 14/94
Processing batch 15/94
Processing batch 16/94
Processing batch 17/94
Processing batch 18/94
Processing batch 19/94
Processing batch 20/94
Processing batch 21/94
Processing batch 22/94
Processing batch 23/94
Processing batch 24/94
Processing batch 25/94
Processing batch 26/94
Processing batch 27/94
Processing batch 28/94
Processing batch 29/94
Processing batch 30/94
Processing batch 31/94
Processing batch 32/94
Processing batch 33/94
Processing batch 34/94
Processing batch 35/94
Processing batch 36/94
Processing batch 37/94
Processing batch 38/94
Processing batch 39/94
Processing batch 40/94
Processing batch 41/94
Processing batch 42/94
Processing batch 43/94
Processing batch 44/94
Processing batch 45/94
Processing batch 46/94
Processing batch 47/94
Processing batch 48/94
Processing batch 49/94
Processing batch 50/94
Processing batch 51/94
Processing batch 52/94
Processing batch 53/94
Processing batch 54/94
Processing batch 55/94
Processing batch 56/94
Processing batch 57/94
Processing batch 58/94
Processing batch 59/94
Processing batch 60/94
Processing batch 61/94
Processing batch 62/94
Processing batch 63/94
Processing batch 64/94
Processing batch 65/94
Processing batch 66/94
Processing batch 67/94
Processing batch 68/94
Processing batch 69/94
Processing batch 70/94
Processing batch 71/94
Processing batch 72/94
Processing batch 73/94
Processing batch 74/94
Processing batch 75/94
Processing batch 76/94
Processing batch 77/94
Processing batch 78/94
Processing batch 79/94
Processing batch 80/94
Processing batch 81/94
Processing batch 82/94
Processing batch 83/94
Processing batch 84/94
Processing batch 85/94
Processing batch 86/94
Processing batch 87/94
Processing batch 88/94
Processing batch 89/94
Processing batch 90/94
Processing batch 91/94
Processing batch 92/94
Processing batch 93/94
Processing batch 94/94

In [25]:
result_2 = get_weather_for_events(events_second_half)

NameError: name 'get_weather_for_events' is not defined

In [91]:
result.tail()

,event_id,start_time,city,lat,lng,yes_count,maybe_count,invited_count,no_count,total_users,weather_code,temperature_2m_mean,precipitation_sum,precipitation_hours,wind_speed_10m_max
8413,27705020,2012-10-30T23:30:00.003Z,Royal Oak,42.490,-83.143,40,47,438,14,539,73.0,3.949833,10.9,15.0,38.936623
8414,1869146953,2012-12-15T00:00:00.001Z,Hamilton,43.257,-79.866,39,23,1218,43,1323,3.0,1.485333,0.0,0.0,22.881956
8416,1142967652,2012-07-24T19:00:00.000Z,Toronto,43.646,-79.394,15,5,1655,44,1719,61.0,24.396254,3.8,2.0,25.623301
8419,1365361942,2012-11-17T03:00:00.003Z,Moreno Valley,33.917,-117.249,47,46,473,20,586,51.0,14.368583,0.5,3.0,8.669949
8421,843844488,2012-09-23T03:00:00.003Z,Medan,3.567,98.696,1278,435,7913,373,9999,63.0,25.790667,6.3,5.0,9.422101

In [ ]:
result_2.head()

In [92]:
pd.read_csv("/home/nkama/masters_thesis_project/event_rec_engine_challenge/user_friends.csv").head()

         user                                            friends
0  3197468391  1346449342 3873244116 4226080662 1222907620 54...
1  3537982273  1491560444 395798035 2036380346 899375619 3534...
2   823183725  1484954627 1950387873 1652977611 4185960823 42...
3  1872223848  83361640 723814682 557944478 1724049724 253059...
4  3429017717  4253303705 2130310957 1838389374 3928735761 71...